
 body {
    background-image: url('Assets/Images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }



/* HOME PAGE  */
/* container on home page text/ picture card  */
.flex-container {
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
#text{
    margin:20px;
    padding: 20px;
    background-color:white;
    text-align: justify;
  
}
/* photo on home page  */
.card {
    padding: 10px;
    margin: 10px;
}

/* PORTFOLIO PAGE  */
 /* container on portfolio page  */
.container-fluid {
    padding: 50px;
    margin: 20px;

}
/* CONTACT PAGE  */
/* form on contact page  */
 
#form{
     padding:100px;
     margin:20px;
 }
 h2{
     position: relative;
     text-align: center;
     color: white;
     padding-top: 50px;
     padding-bottom: 20px;
 }

 /* PORTFOLIO  PAGE*/
 .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .imgtext{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }